# Environnements Virtuels (Venv)
# -----------------------------
# Ignorer le dossier standard créé par 'python -m venv venv' ou l'utilisation de virtualenv.
venv/
.venv/

# Le dossier d'environnement virtuel créé par Poetry (si vous l'utilisez)
.venv/

# Dossier d'environnement Conda (si vous l'utilisez)
.conda/


# Fichiers de configuration spécifiques à l'utilisateur
# ----------------------------------------------------
*.pyc
__pycache__/
*.pyd
*.so
*.egg

# Fichiers de construction et de distribution
# ----------------------------------------
dist/
build/
*.egg-info/
.tox/

# Éditeurs et IDEs courants
# --------------------------
.idea/      # PyCharm, IntelliJ
.vscode/    # VS Code
*.swp       # Vim swap files


# Fichiers de sortie à ignorer
output.txt
# --- LaTeX ---
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.out
*.bbl
*.blg
*.lof
*.lot

# Optionnel : Si tu ne veux pas versionner le PDF généré (recommandé)
# Si tu veux garder le PDF sur git, enlève la ligne ci-dessous
*.pdf
